In [1]:
import pandas as pd
from resc.lag import lag, lag_dataset

In [2]:
test_X_df = pd.DataFrame({"A" : [1 , 2 , 3, 4, 5],
                          "B" : ["1" , "2" , "3", "4", "5"]
                         })

test_y_df = pd.DataFrame([100 , 200 , 300,  400, 500])

In [3]:
test_X_df

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [4]:
lag(test_X_df, 1, True)

   A  B    A    B
0  1  1  NaN  NaN
1  2  2  1.0    1
2  3  3  2.0    2
3  4  4  3.0    3
4  5  5  4.0    4

In [5]:
X_out, y_out = lag_dataset(test_X_df, test_y_df, 1, True)

In [6]:
X_out

   A  B    A  B
1  2  2  1.0  1
2  3  3  2.0  2
3  4  4  3.0  3
4  5  5  4.0  4

In [7]:
y_out

     0
1  200
2  300
3  400
4  500